:root {
  --app-dark: #1b2636;
  --app-light: #ffffff;
  --app-hover: crimson;
}

.app-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  background-color: crimson;
}

.app-card {
  width: 100%;
  max-width: 800px;
  height: 100%;
  min-height: 600px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  border: 1;
}

.app-header,
.app-footer {
  color: var(--app-light);
  background-color: var(--app-dark);
}

.app-header .navbar-nav {
  gap: 12px;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.app-header .navbar-brand {
  padding:12px;
  margin: 0px;
  font-weight: bold;
}


.app-header .nav-link {
  padding:12px;
  margin: 0;
  color: var(--app-light);
}

.app-header .nav-link:hover,
.nav-item:hover {
  color: black;
  background-color: var(--app-hover);
}

.app-navbar .navbar-toggler {
  border-color: var(--app-dark);
}

.app-navbar .navbar-toggler:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 20, 60, 0.35);
}

.app-navbar .navbar-toggler-icon {
  border-color: rgba(220, 20, 60, 0.35);
  color: rgba(220, 20, 60, 0.35);
}

.app-navbar .navbar-toggler:hover {
  box-shadow: 0 0 0 0.2rem crimson;
}

.app-body {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  color: black;
  background-color: var(--app-light);
}
